.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.fpItem{
  height: 420px;
  flex: 1;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1140px;
  align-items: center;
  border: 1px solid rgb(222, 216, 216);
  
}

.fpItem hr {
  width: 276px;
}

.fpImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.fpName{
  font-size: 30px;
  font-family: "Playfair Display", Arial, serif;
  color: #333;
  font-weight: 600;
  margin-top: 20px;
}

.fpCity{
  font-weight: 300;
}

.fpPrice{
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid orange;
}

.fpRating>button{
  background-color: #f21f14d8;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}

.detail {
  font-size: 20px;
  margin-top: 10px;
}